div.button{

  position:relative;
  width:14rem;
  height:4.8rem;

  border-radius: 2%;
  background:white;


  z-index:100;
  display:flex;
  align-items: center;
  justify-content: center;
  color:white;
  font-size:1.6rem;


  background: $color-blue;



  &:after{
    content:'';

    background:transparent;
    width:13rem;
    height:3.8rem;
    top:0.5rem;
    left:0.5rem;
    position:absolute;


  }

  &:hover{
    cursor:pointer;
    &:after{
      -webkit-box-shadow: inset 0px 0px 127px -56px rgba(0,0,0,0.6);
      -moz-box-shadow: inset 0px 0px 127px -56px rgba(0,0,0,0.6);
      box-shadow: inset 0px 0px 127px -56px rgba(0,0,0,0.6);
    }
  }

  &:active{
    animation: buttonClick 0.2s;
  }

  &--sonido{
    margin:auto;
    top:12rem;

    &:before{
      content:'Activar sonido';

    }
  }

  &--comenzar{
    margin:auto;
    top:16rem;
    display:none;
    &:before{
      content:'Comenzar';

    }
  }

  &--atras{
    position:absolute;
    top:2rem;
    left:2rem;
    transform: scale(0.8);
    background:red;
    &:before{
      content:'Atrás';

    }
  }
}


@keyframes buttonClick {

  100%{
    transform: scale(1.2) ;

  }
}



