$color-yellow: #f3f315;
$color-blue: #024bfb;
$color-pink: #ff0099;
$color-green: #83f52c;
$color-orange: #ff6600;
$color-purple: #6e0dd0;

@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@500&display=swap');

@import "normalize.css";
@import "UI.css";
@import "button";

@import "mainMenu";
@import "pause";


canvas{
  width:100%;
  height:100%;
}
