

body{


  overflow:hidden;
  font-family: 'Grandstander', cursive;

  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='24' viewBox='0 0 12 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23024bfb' fill-opacity='0.16'%3E%3Cpath d='M2 0h2v12H2V0zm1 20c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM9 8c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zm-1 4h2v12H8V12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


div.barraFondo{
  transform:translateY(10rem);
  div{
    &:first-child{

      position:absolute;
      background:$color-yellow;
      top:6rem;
      left:0;
      width:100%;

      transform-origin:bottom;
      height:1rem;
      transform: scaleY(0);

    }

    &:last-child{
      position:absolute;
      background:$color-yellow;
      top:6.5rem;
      left:0;
      width:100%;

      z-index:-10;
      height:1.3rem;
      transform: scaleY(0);

    }
  }
}

div.title{
  position:relative;
  transform:translateY(100%);
  display:flex;
  flex-direction:row;
  width:80%;
  margin:auto;



  color: $color-blue;

  font-size:8rem;
  -webkit-text-stroke: 3.5px black; /* width and color */




  div.text{
    font-family: 'Noto Serif JP', serif;
    width:100%;

    &:first-child{
      &:before{
        content:'スーパー';
      }
      transform:rotateY(-45deg) rotateZ(5deg) translateY(-50rem) translateX(50rem);
      text-align: right;


    }

    &:last-child{
      &:before{
        content:'戦闘';
      }
      transform:rotateY(-45deg) rotateZ(5deg) translateY(-50rem) translateX(50rem);


      width:80%;
    }
  }
}

@keyframes tituloCae1{

  0%{

    transform:rotateY(45deg) rotateZ(-5deg) translateY(-50rem) translateX(-50rem);

  }

  100%{
    transform:rotateY(0) rotateZ(0) translateY(0) translateX(0);
  }
}

@keyframes tituloCae2{

  0%{

    transform:rotateY(-45deg) rotateZ(5deg) translateY(-50rem) translateX(50rem);

  }

  100%{
    transform:rotateY(0) rotateZ(0) translateY(0) translateX(0);
  }
}

@keyframes tituloColor{
  0%{
    color:#024bfb;
  }
  100%{
    color: red;
  }
}

@keyframes tituloLevanta{
  0%{
    transform:translateY(100%);
  }
  100%{
    transform:translateY(20%);
  }
}

@keyframes tituloLevanta{
  0%{
    color:rgba(255,0,0,0);
  }

  50%{
    color:rgba(255,0,0,1);

  }

  100%{
    color:rgba(255,0,0,0);
  }
}


@keyframes barraFondo{

  0%{
    transform:scaleY(0);
  }
  100%{
    transform:scaleY(8);
  }
}


@keyframes barraFondoFinal{

  0%{
    transform:scaleY(8);
    opacity:1;
  }

  50%{
    opacity:1;
  }
  100%{
    transform:scaleY(8);
    height:48rem;
    opacity:0;
  }
}

div.subtitle{

  color:white;
  text-align:center;
  font-size:2rem;
  width:fit-content;
  transform:translateY(10rem) translateX(68rem);
  opacity:0;


  &:before{
    content:'Super sento';
  }
}


@keyframes subtitulo{

  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }

}

@keyframes subtitulo2{

  0%{
    color:white;
  }
  100%{
    color:black;
  }

}



section.panelPrincipal{

  display:none;
  //display:flex;
  flex-direction: row;
  justify-content: space-between;
width:60%;
  //transform:translateY(2rem);
  margin: auto;
  margin-top:4rem;

  animation: menuAppears 1s;
  article{
    display:flex;
    flex-direction:column;

    div.button{
      margin-top:4rem;

      &--combate{
        background:$color-orange;
        color:black;
        &:before {
          content: 'Combate';

        }
      }

      &--opciones{
        background:$color-green;
        color:black;
        &:before {
          content: 'Opciones';
        }
      }

      &--puntuaciones{
        background:$color-pink;
        color:black;
        &:before {
          content: 'Puntuaciones';
        }
      }

      &--creditos{

        &:before {
          content: 'Créditos';
        }
      }

    }
  }

  aside{
    position:relative;
    margin-left:14rem;
    margin-top:2rem;
    width:100%;
    height:8rem;
    padding: 8rem 4rem;

    background:rgba(255,255,255,0.8);
    color:black;
    font-size:2.5rem;

    border: 6px solid;
    border-radius: 2%;

    -webkit-text-stroke: 1.2px black;


    &.pelea{
      top:0;
      border-color: $color-orange;
      color: $color-orange;

      &:before {
        content: '¡Crea o únete a una sala y combate con un amigo!';
      }

    }

    &.opciones{

      border-color: $color-green;
      color: $color-green;
      &:before {
        content: 'Opciones de configuración para personalizar la experiencia del juego';
      }

    }

    &.puntuaciones{

      border-color: $color-pink;
      color: $color-pink;
      &:before {
        content: 'Los últimos resultados de tus peleas';
      }

    }

    &.creditos{
      border-color: $color-blue;
      color: $color-blue;

      &:before {
        content: 'El equipo que participó en el desarrollo del juego';
      }

    }

  }

}

@keyframes menuAppears{

  0%{
    opacity:0;
    transform:scale(0);
  }

  100%{
    opacity:1;
    transform:scale(1);
  }

}


section.panelPelear{
  display:none;
  //display:flex;
  flex-direction: row;
  justify-content: space-between;

  width:60%;
  margin:auto;
  margin-top:8rem;

  aside{

  }

  div.textInputGroup {
    display:flex;
    flex-direction: column;

    label {

      color: $color-green;
      font-size: 1.2rem;
      text-decoration: underline;
      width:20rem;
      word-wrap: break-spaces;

      span{
        font-size: 0.8rem;
      }
    }

    input[type="text"] {
      margin-right: 1rem;
      width: 14rem;
      height:4.8rem;
      font-size: 1.5rem;
      text-align: center;

      &.larger{
        width:100%;
      }
    }
  }

  div.inputSala{
    display:flex;
    flex-direction: row;


    div.button--aceptar{

      width:6rem;
      background: url("../assets/Textures/icon/check.svg") no-repeat center $color-blue;
      background-size: 3.5rem;


      &:after{

        width:5rem;


      }


    }


  }
  article{

    display:flex;
    flex-direction: column;
    justify-content: center;
    position:relative;
    left:4rem;
    div.button{

      margin-top:2rem;
      margin-bottom:2rem;


      &:first-child{

        background:$color-yellow;
        transform: scale(2);
        color:red;

        &:before{

          content:'¡Pelea!'

        }
      }

      &:last-child{

        &:before{
          text-align: center;
          content:'Cargar configuración'

        }
      }

    }

  }


  select{
    height:4.8rem;


  }

  div.chooseColor{

    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:1rem;
    height:4rem;

    div.color{
      position:relative;
      width:4rem;

      cursor:pointer;
      &:before{
        position:absolute;
        left:25%;
        width:50%;
        height:2rem;

        content:'';

      }
      &:hover:before{
        filter: grayscale(0%);
        border: $color-yellow solid 4px;
      }

      &--red{
        &:before{
        background:red;
       }
      }

      &--blue{
        &:before{
        background:$color-blue;
       }
      }
    }


    div.escenario{
      position:relative;
      left:-3rem;
      cursor:pointer;
      filter: grayscale(100%);
      &:before{
        position:absolute;

        width:6rem;
        height:6rem;

        content:'';
        background: url("https://images.unsplash.com/photo-1602977430379-7265065d9538?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=784&q=80") no-repeat center;
        background-size: 6rem;

      }

      &:hover:before{
        filter: grayscale(0);
        border: $color-yellow solid 4px;
      }

      &:after{
        position:absolute;
        text-align: center;
        top:6.2rem;
        left:1rem;
        color:$color-green;

        content:'';
      }

      &--esc-1{
        &:after{
          content:'Nombre 1';
        }
      }

      &--esc-2{
        &:after{
          content:'Nombre 2';
        }
      }

      &--esc-3{
        &:after{
          content:'Nombre 3';
        }
      }
    }

  }

  aside{
    div.textInputGroup {
      margin-bottom:2rem;
    }
  }
}


section.panelPuntuaciones {

  display:none;
  article {
    h2 {
      text-align:center;
      width:100%;
      margin:auto;
      &:before {
        position:relative;
        top:4rem;
        width:100%;
        content: 'Últimos resultados';
        text-decoration: underline;
        color: $color-green;
        font-size: 2rem;

      }
    }

    ul.listResultados{
      margin:auto;
      margin-top:4rem;
      padding:4rem 2rem;
      width:40%;
      background:rgba(255,255,255,0.8);
      display:flex;
      flex-direction: column;
      list-style: none;
      font-size:1.5rem;

      li{
        display:grid;
        grid-template-columns: 20% 60% 20%;
        height:4rem;
        margin-bottom:2rem;
        word-wrap: break-word;

        span{
          &:nth-child(2){
            text-align: center;
          }
          &:last-child{
            text-align: end;
          }
        }

        span.victoria{

          color:$color-blue;
          font-weight: 800;
        }

        span.derrota{

          color:red;
          font-weight: 800;
        }
      }

    }
  }
}

section.modalSala{


  display:none;
  position:absolute;
  top:0;
  width:100%;
  height:100vw;
  //display:flex;
  z-index: 1000;
  background:rgba(0,0,0,0.6);

  div.modal-content{


    width:100%;
    height:20%;
    top:-25rem;
    margin:auto;

    position:relative;

  display: flex;
    flex-direction: column;


    &:before{
      content:'Esperando que se una el rival';
      position:relative;
    color:white;

      left:40.5%;
    }


    p{
      font-size: 2rem;
      text-align: center;
      color:white;

    }

    div.button{

  background:red;
      margin:auto;

      &:before{
        content: 'Atrás';

      }

    }


  }

}
