@charset "UTF-8";
body {
  background: black;
  font-family: "Noto Serif JP", serif;
  overflow: hidden;
}

div.barraFondo {
  transform: translateY(11.5rem);
}
div.barraFondo div:first-child {
  position: absolute;
  background: #f3f315;
  top: 6rem;
  left: 0;
  width: 100%;
  transform-origin: bottom;
  height: 1rem;
  transform: scaleY(0);
}
div.barraFondo div:last-child {
  position: absolute;
  background: #f3f315;
  top: 6.5rem;
  left: 0;
  width: 100%;
  z-index: -10;
  height: 1.3rem;
  transform: scaleY(0);
}

div.title {
  position: relative;
  transform: translateY(100%);
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  color: red;
  font-size: 8rem;
  -webkit-text-stroke: 3.5px black;
  /* width and color */
}
div.title div.text {
  width: 100%;
}
div.title div.text:first-child {
  text-align: right;
  transform: rotateY(0deg) rotateZ(0deg);
  animation: tituloCae1 2s;
}
div.title div.text:first-child:before {
  content: "スーパー";
}
div.title div.text:last-child {
  transform: rotateY(0deg) rotateZ(0deg);
  animation: tituloCae2 2s;
  width: 80%;
}
div.title div.text:last-child:before {
  content: "戦闘";
}

@keyframes tituloCae1 {
  0% {
    transform: rotateY(45deg) rotateZ(-5deg) translateY(-50rem) translateX(-50rem);
  }
}
@keyframes tituloCae2 {
  0% {
    transform: rotateY(-45deg) rotateZ(5deg) translateY(-50rem) translateX(50rem);
  }
}
@keyframes barraFondo {
  0% {
    transform: scaleY(0);
  }
  100% {
    tranform: scaleY(5);
  }
}
div.subtitle {
  color: white;
  text-align: center;
  font-size: 2rem;
  width: fit-content;
  transform: translateY(10rem) translateX(68rem);
  opacity: 0;
}
div.subtitle:before {
  content: "Super sento";
}

@keyframes subtitulo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=mainMenu.css.map */
