@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Grandstander:wght@500&display=swap");
@import "normalize.css";
@import "UI.css";
div.button {
  position: relative;
  width: 14rem;
  height: 4.8rem;
  border-radius: 2%;
  background: white;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.6rem;
  background: #024bfb;
}
div.button:after {
  content: "";
  background: transparent;
  width: 13rem;
  height: 3.8rem;
  top: 0.5rem;
  left: 0.5rem;
  position: absolute;
}
div.button:hover {
  cursor: pointer;
}
div.button:hover:after {
  -webkit-box-shadow: inset 0px 0px 127px -56px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0px 0px 127px -56px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0px 0px 127px -56px rgba(0, 0, 0, 0.6);
}
div.button:active {
  animation: buttonClick 0.2s;
}
div.button--sonido {
  margin: auto;
  top: 12rem;
}
div.button--sonido:before {
  content: "Activar sonido";
}
div.button--comenzar {
  margin: auto;
  top: 16rem;
  display: none;
}
div.button--comenzar:before {
  content: "Comenzar";
}
div.button--atras {
  position: absolute;
  top: 2rem;
  left: 2rem;
  transform: scale(0.8);
  background: red;
}
div.button--atras:before {
  content: "Atrás";
}

@keyframes buttonClick {
  100% {
    transform: scale(1.2);
  }
}
body {
  overflow: hidden;
  font-family: "Grandstander", cursive;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='24' viewBox='0 0 12 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23024bfb' fill-opacity='0.16'%3E%3Cpath d='M2 0h2v12H2V0zm1 20c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM9 8c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zm-1 4h2v12H8V12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

div.barraFondo {
  transform: translateY(10rem);
}
div.barraFondo div:first-child {
  position: absolute;
  background: #f3f315;
  top: 6rem;
  left: 0;
  width: 100%;
  transform-origin: bottom;
  height: 1rem;
  transform: scaleY(0);
}
div.barraFondo div:last-child {
  position: absolute;
  background: #f3f315;
  top: 6.5rem;
  left: 0;
  width: 100%;
  z-index: -10;
  height: 1.3rem;
  transform: scaleY(0);
}

div.title {
  position: relative;
  transform: translateY(100%);
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  color: #024bfb;
  font-size: 8rem;
  -webkit-text-stroke: 3.5px black;
  /* width and color */
}
div.title div.text {
  font-family: "Noto Serif JP", serif;
  width: 100%;
}
div.title div.text:first-child {
  transform: rotateY(-45deg) rotateZ(5deg) translateY(-50rem) translateX(50rem);
  text-align: right;
}
div.title div.text:first-child:before {
  content: "スーパー";
}
div.title div.text:last-child {
  transform: rotateY(-45deg) rotateZ(5deg) translateY(-50rem) translateX(50rem);
  width: 80%;
}
div.title div.text:last-child:before {
  content: "戦闘";
}

@keyframes tituloCae1 {
  0% {
    transform: rotateY(45deg) rotateZ(-5deg) translateY(-50rem) translateX(-50rem);
  }
  100% {
    transform: rotateY(0) rotateZ(0) translateY(0) translateX(0);
  }
}
@keyframes tituloCae2 {
  0% {
    transform: rotateY(-45deg) rotateZ(5deg) translateY(-50rem) translateX(50rem);
  }
  100% {
    transform: rotateY(0) rotateZ(0) translateY(0) translateX(0);
  }
}
@keyframes tituloColor {
  0% {
    color: #024bfb;
  }
  100% {
    color: red;
  }
}
@keyframes tituloLevanta {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(20%);
  }
}
@keyframes tituloLevanta {
  0% {
    color: rgba(255, 0, 0, 0);
  }
  50% {
    color: red;
  }
  100% {
    color: rgba(255, 0, 0, 0);
  }
}
@keyframes barraFondo {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(8);
  }
}
@keyframes barraFondoFinal {
  0% {
    transform: scaleY(8);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scaleY(8);
    height: 48rem;
    opacity: 0;
  }
}
div.subtitle {
  color: white;
  text-align: center;
  font-size: 2rem;
  width: fit-content;
  transform: translateY(10rem) translateX(68rem);
  opacity: 0;
}
div.subtitle:before {
  content: "Super sento";
}

@keyframes subtitulo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes subtitulo2 {
  0% {
    color: white;
  }
  100% {
    color: black;
  }
}
section.panelPrincipal {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  margin-top: 4rem;
  animation: menuAppears 1s;
}
section.panelPrincipal article {
  display: flex;
  flex-direction: column;
}
section.panelPrincipal article div.button {
  margin-top: 4rem;
}
section.panelPrincipal article div.button--combate {
  background: #ff6600;
  color: black;
}
section.panelPrincipal article div.button--combate:before {
  content: "Combate";
}
section.panelPrincipal article div.button--opciones {
  background: #83f52c;
  color: black;
}
section.panelPrincipal article div.button--opciones:before {
  content: "Opciones";
}
section.panelPrincipal article div.button--puntuaciones {
  background: #ff0099;
  color: black;
}
section.panelPrincipal article div.button--puntuaciones:before {
  content: "Puntuaciones";
}
section.panelPrincipal article div.button--creditos:before {
  content: "Créditos";
}
section.panelPrincipal aside {
  position: relative;
  margin-left: 14rem;
  margin-top: 2rem;
  width: 100%;
  height: 8rem;
  padding: 8rem 4rem;
  background: rgba(255, 255, 255, 0.8);
  color: black;
  font-size: 2.5rem;
  border: 6px solid;
  border-radius: 2%;
  -webkit-text-stroke: 1.2px black;
}
section.panelPrincipal aside.pelea {
  top: 0;
  border-color: #ff6600;
  color: #ff6600;
}
section.panelPrincipal aside.pelea:before {
  content: "¡Crea o únete a una sala y combate con un amigo!";
}
section.panelPrincipal aside.opciones {
  border-color: #83f52c;
  color: #83f52c;
}
section.panelPrincipal aside.opciones:before {
  content: "Opciones de configuración para personalizar la experiencia del juego";
}
section.panelPrincipal aside.puntuaciones {
  border-color: #ff0099;
  color: #ff0099;
}
section.panelPrincipal aside.puntuaciones:before {
  content: "Los últimos resultados de tus peleas";
}
section.panelPrincipal aside.creditos {
  border-color: #024bfb;
  color: #024bfb;
}
section.panelPrincipal aside.creditos:before {
  content: "El equipo que participó en el desarrollo del juego";
}

@keyframes menuAppears {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
section.panelPelear {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  margin-top: 8rem;
}
section.panelPelear div.textInputGroup {
  display: flex;
  flex-direction: column;
}
section.panelPelear div.textInputGroup label {
  color: #83f52c;
  font-size: 1.2rem;
  text-decoration: underline;
  width: 20rem;
  word-wrap: break-spaces;
}
section.panelPelear div.textInputGroup label span {
  font-size: 0.8rem;
}
section.panelPelear div.textInputGroup input[type=text] {
  margin-right: 1rem;
  width: 14rem;
  height: 4.8rem;
  font-size: 1.5rem;
  text-align: center;
}
section.panelPelear div.textInputGroup input[type=text].larger {
  width: 100%;
}
section.panelPelear div.inputSala {
  display: flex;
  flex-direction: row;
}
section.panelPelear div.inputSala div.button--aceptar {
  width: 6rem;
  background: url("../assets/Textures/icon/check.svg") no-repeat center #024bfb;
  background-size: 3.5rem;
}
section.panelPelear div.inputSala div.button--aceptar:after {
  width: 5rem;
}
section.panelPelear article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: 4rem;
}
section.panelPelear article div.button {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
section.panelPelear article div.button:first-child {
  background: #f3f315;
  transform: scale(2);
  color: red;
}
section.panelPelear article div.button:first-child:before {
  content: "¡Pelea!";
}
section.panelPelear article div.button:last-child:before {
  text-align: center;
  content: "Cargar configuración";
}
section.panelPelear select {
  height: 4.8rem;
}
section.panelPelear div.chooseColor {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1rem;
  height: 4rem;
}
section.panelPelear div.chooseColor div.color {
  position: relative;
  width: 4rem;
  cursor: pointer;
}
section.panelPelear div.chooseColor div.color:before {
  position: absolute;
  left: 25%;
  width: 50%;
  height: 2rem;
  content: "";
}
section.panelPelear div.chooseColor div.color:hover:before {
  filter: grayscale(0%);
  border: #f3f315 solid 4px;
}
section.panelPelear div.chooseColor div.color--red:before {
  background: red;
}
section.panelPelear div.chooseColor div.color--blue:before {
  background: #024bfb;
}
section.panelPelear div.chooseColor div.escenario {
  position: relative;
  left: -3rem;
  cursor: pointer;
  filter: grayscale(100%);
}
section.panelPelear div.chooseColor div.escenario:before {
  position: absolute;
  width: 6rem;
  height: 6rem;
  content: "";
  background: url("https://images.unsplash.com/photo-1602977430379-7265065d9538?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=784&q=80") no-repeat center;
  background-size: 6rem;
}
section.panelPelear div.chooseColor div.escenario:hover:before {
  filter: grayscale(0);
  border: #f3f315 solid 4px;
}
section.panelPelear div.chooseColor div.escenario:after {
  position: absolute;
  text-align: center;
  top: 6.2rem;
  left: 1rem;
  color: #83f52c;
  content: "";
}
section.panelPelear div.chooseColor div.escenario--esc-1:after {
  content: "Nombre 1";
}
section.panelPelear div.chooseColor div.escenario--esc-2:after {
  content: "Nombre 2";
}
section.panelPelear div.chooseColor div.escenario--esc-3:after {
  content: "Nombre 3";
}
section.panelPelear aside div.textInputGroup {
  margin-bottom: 2rem;
}

section.panelPuntuaciones {
  display: none;
}
section.panelPuntuaciones article h2 {
  text-align: center;
  width: 100%;
  margin: auto;
}
section.panelPuntuaciones article h2:before {
  position: relative;
  top: 4rem;
  width: 100%;
  content: "Últimos resultados";
  text-decoration: underline;
  color: #83f52c;
  font-size: 2rem;
}
section.panelPuntuaciones article ul.listResultados {
  margin: auto;
  margin-top: 4rem;
  padding: 4rem 2rem;
  width: 40%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 1.5rem;
}
section.panelPuntuaciones article ul.listResultados li {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  height: 4rem;
  margin-bottom: 2rem;
  word-wrap: break-word;
}
section.panelPuntuaciones article ul.listResultados li span:nth-child(2) {
  text-align: center;
}
section.panelPuntuaciones article ul.listResultados li span:last-child {
  text-align: end;
}
section.panelPuntuaciones article ul.listResultados li span.victoria {
  color: #024bfb;
  font-weight: 800;
}
section.panelPuntuaciones article ul.listResultados li span.derrota {
  color: red;
  font-weight: 800;
}

section.modalSala {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vw;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.6);
}
section.modalSala div.modal-content {
  width: 100%;
  height: 20%;
  top: -25rem;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
section.modalSala div.modal-content:before {
  content: "Esperando que se una el rival";
  position: relative;
  color: white;
  left: 40.5%;
}
section.modalSala div.modal-content p {
  font-size: 2rem;
  text-align: center;
  color: white;
}
section.modalSala div.modal-content div.button {
  background: red;
  margin: auto;
}
section.modalSala div.modal-content div.button:before {
  content: "Atrás";
}

section.Pause {
  opacity: 0.7;
  background: black;
  height: 80%;
  top: 10%;
  width: 100%;
  display: none;
  position: absolute;
  padding-bottom: 8rem;
  grid-template-columns: 50% 50%;
}
section.Pause div.column {
  position: relative;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
section.Pause div.column div.teclaContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 12rem;
}
section.Pause div.column div.teclaContainer div.tecla {
  background: rgba(255, 255, 255, 0.8);
  height: 3rem;
  width: 3rem;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.6);
  -moz-box-shadow: 0px 0px 5px 8px rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.6);
  border: solid 2px rgba(0, 0, 0, 0.25);
  text-align: center;
}
section.Pause div.column div.teclaContainer div.tecla.salto:before {
  content: "W";
  text-align: center;
  position: relative;
  top: 0.7rem;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.8);
}
section.Pause div.column div.teclaContainer div.tecla.a {
  margin-right: 4rem;
}
section.Pause div.column div.teclaContainer div.tecla.a:before {
  content: "A";
  text-align: center;
  position: relative;
  top: 0.7rem;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.8);
}
section.Pause div.column div.teclaContainer div.tecla.d:before {
  content: "D";
  text-align: center;
  position: relative;
  top: 0.7rem;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.8);
}
section.Pause div.column div.teclaContainer div.tecla.golpeDebil:before {
  content: "J";
  text-align: center;
  position: relative;
  top: 0.7rem;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.8);
}
section.Pause div.column div.teclaContainer div.tecla.golpeFuerte:before {
  content: "i";
  text-align: center;
  position: relative;
  top: 0.7rem;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.8);
}
section.Pause div.column div.teclaContainer div.tecla.agache:before {
  content: "S";
  text-align: center;
  position: relative;
  top: 0.7rem;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.8);
}
section.Pause div.column div.teclaContainer div.tecla.agache:before {
  content: "S";
  text-align: center;
  position: relative;
  top: 0.7rem;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.8);
}
section.Pause div.column div.teclaContainer div.tecla.patadaDebil:before {
  content: "L";
  text-align: center;
  position: relative;
  top: 0.7rem;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.8);
}
section.Pause div.column div.teclaContainer div.tecla.patadaFuerte:before {
  content: "K";
  text-align: center;
  position: relative;
  top: 0.7rem;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.8);
}
section.Pause div.column div.teclaContainer div.tecla.especial:before {
  content: "E";
  text-align: center;
  position: relative;
  top: 0.7rem;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.8);
}
section.Pause div.column p.descripcion {
  margin-left: 8rem;
  color: rgba(255, 255, 255, 0.6);
  font-size: 2rem;
}

canvas {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=main.css.map */
