section.Pause{
  opacity: 0.7;
  background:black;
  height:80%;
  top:10%;
  width:100%;
  display:none;
  //display:grid;
  position:absolute;
  padding-bottom:8rem;

  grid-template-columns: 50% 50%;

  div.column{
    position:relative;
    width:100%;
    margin:auto;
    display:flex;
    flex-direction: row;
   justify-content: flex-start;
    div.teclaContainer{
      width:100%;
      display:flex;
      flex-direction: row;
     justify-content: flex-end;
      margin-right:12rem;
      div.tecla{
        background:rgba(255,255,255,0.8);
        height: 3rem;
        width:3rem;
        -webkit-box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.6);
        -moz-box-shadow: 0px 0px 5px 8px rgba(255,255,255,0.6);
        box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.6);
        border:solid 2px rgba(0,0,0,0.25);
        text-align: center;


        &.salto:before{
          content:'W';
          text-align: center;
          position:relative;
          top:0.7rem;
          font-size:2rem;
          color:rgba(0,0,0,0.8);
        }

        &.a{

          margin-right:4rem;

        &:before{
          content:'A';
          text-align: center;
          position:relative;
          top:0.7rem;
          font-size:2rem;
          color:rgba(0,0,0,0.8);
        }

      }

        &.d:before{
          content:'D';
          text-align: center;
          position:relative;
          top:0.7rem;
          font-size:2rem;
          color:rgba(0,0,0,0.8);
        }

        &.golpeDebil:before{

          content:'J';
          text-align: center;
          position:relative;
          top:0.7rem;
          font-size:2rem;
          color:rgba(0,0,0,0.8);

        }

        &.golpeFuerte:before{

          content:'i';
          text-align: center;
          position:relative;
          top:0.7rem;
          font-size:2rem;
          color:rgba(0,0,0,0.8);

        }

        &.agache:before{

          content:'S';
          text-align: center;
          position:relative;
          top:0.7rem;
          font-size:2rem;
          color:rgba(0,0,0,0.8);

        }

        &.agache:before{

          content:'S';
          text-align: center;
          position:relative;
          top:0.7rem;
          font-size:2rem;
          color:rgba(0,0,0,0.8);

        }

        &.patadaDebil:before{

          content:'L';
          text-align: center;
          position:relative;
          top:0.7rem;
          font-size:2rem;
          color:rgba(0,0,0,0.8);

        }

        &.patadaFuerte:before{

          content:'K';
          text-align: center;
          position:relative;
          top:0.7rem;
          font-size:2rem;
          color:rgba(0,0,0,0.8);

        }

        &.especial:before{

          content:'E';
          text-align: center;
          position:relative;
          top:0.7rem;
          font-size:2rem;
          color:rgba(0,0,0,0.8);

        }

      }


    }

    p.descripcion{
      margin-left:8rem;
      color:rgba(255,255,255,0.6);
      font-size:2rem;

    }


  }


}
