
div.UI {
  display: flex;
  flex-direction: row;
  width: 99.9%;
  position: absolute;

  height:99.9%;
  z-index: 2;

}
div.UI section.singleUI {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 4rem;
  margin-left:4rem;
}
div.UI section.singleUI article.healthBar {
  width: 100%;
  height: 3.5rem;
  margin-top: 1rem;
  transform: skew(25deg);
  border:  outset #3A606E;
  position: relative;




}
div.UI section.singleUI article.healthBar div.lifePercentage {
  position: absolute;
  height: 3.5rem;
  top: 0;

  background: linear-gradient(90deg,rgba(82, 183, 136,1)  0%,rgba(82, 183, 136,1)  100%) 0%;  //rgba(82, 183, 136,0.8) rgba(237, 229, 166,0.8) rgba(202, 60, 37,0.8)

}
div.UI section.singleUI aside.powerBar {
  width: 10%;
  height: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border: 1px solid;
  position: relative;
  top: 80%;
  border-radius: 3px;
}
div.UI section.singleUI aside.powerBar div.powerPercentage {
  position: absolute;
  top: 0;
  background: #3A606E;
  height: 0.5rem;
  border-radius: 3px;
}
div.UI section.singleUI:last-child {
  transform: rotateY(180deg);
}

/*# sourceMappingURL=style.css.map */
